@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

main {
    display: flex;
    flex-wrap: wrap;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #373b69;
    
}
.nav-container h1 {
    margin: 0;
  }
#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   /*  align-items: center; */
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373b69;
    color: #fff;
    padding: 1rem;
}


.search {
    width: 50%;
    padding: 0.5rem;
    border: 2px solid #373b69;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
}

#search-input {
    flex-grow: 1;
    margin-right: 10px;
  }
#search-btn {
    padding: 0.5rem;
    border: 2px solid #373b69;
    background-color: #138065;
    color: #fff;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}



.search::placeholder {
    color: #181a30;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    align-self: center;


}

.search:focus {
    outline: none;
    border-color: #fff;
    color: #181a30;
    font-weight: 400;
}


.image {
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    width: 400px;
    overflow: hidden;

}

.image img {
    width: 100%;
}

.image-info {
    display: flex;
    color: #0d0c0c;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.image-info h3 {
    margin: 0;
}


#show-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #008cba;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: none
}

#show-more-btn:hover {
    background-color: #005b7f;
}

.loader {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 6px solid#373b69;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.unresponsive {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 50px;
    background-color: #ba000f;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;    
}


@media screen and (max-width: 600px) {
    header {
      flex-direction: column;
    }
  
    #form {
      flex-direction: column;
    }
  
    #search-input {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }
  }
@media (max-width: 710px) {
  
form {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

  }
@media (max-width: 959px) {
    
    main{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
  }
